@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
.App {
  height: 100vh;
  background: linear-gradient(45deg, #32a6ff 0%, #3f6fff 49%, #8d54ff 82%);
}

html{
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif
}

