.header{
    font-size: clamp(.8rem, 1.1vw, 1rem);
    margin: auto;
    align-self: center;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.wrapper{
    height: 100vh;
    background: linear-gradient(45deg, #32a6ff 0%, #3f6fff 49%, #8d54ff 82%);
    background-size: 200%;
    animation: aurora 10s infinite;
}

@keyframes aurora {
    0% {
      background-position: left top;
    }
    25% {
      background-position: right top;
    }
    50% {
      background-position: right bottom;
    }
    75% {
      background-position: left bottom;
    }
    100% {
      background-position: left top;
    }
  }


.top_banner{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.homelink{
    color: black;
    text-decoration: none;
    transition: color .3s;
}

.homelink:hover{
    color: whitesmoke;
}

.link{
    font-size: clamp(.8rem, 1.1vw, 1rem);
    color: black;
    text-decoration: none;
    transition: color .3s;
}

.link:hover{
    color: #5362F5;
}

.bottom_banner{
    
    background: rgba(254, 255, 253, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    margin-block-end: clamp(.5rem, 1.1vw, 1rem);

}

.dp img{
    width: 80px;
    height: 80px;
}

.logo{
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.search_icon{

    width: 20px;
    height: 20px;
}

