.register_page {
  border: 2px solid yellow;
  height: 100%;
  width: 100%;
  display: flex;
}

.error {
  color: red;
}

.logo {
  height: 30%;
  display: flex;
  flex-direction: column;
}

.form_input {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.submission {
  height: 20%;
  width: 100%;
  text-align: center;
}

.logo img {
  width: 200px;
  height: 200px;
  align-self: center;
}

.logo {
  height: 30%;
  width: 100%;
  padding-block-start: 2rem;
  text-align: center;
}

.img {
  width: 60%;
  border-right: 4px solid black;
  object-fit: fill;
  height: 60%;
  height: 100%;
  object-fit: cover;
}

.form_div {
  display: grid;
  justify-self: center;
  align-self: center;
  border-radius: 10px;
  outline: 4px solid black;
  display: flex;
  height: 80rem;
  width: 90%;
  max-width: 1900px;
  margin: auto;
  align-self: center;
  background-color: white;
  border: 2px solid black;
  transition: all 0.4s;
}

.form {
  height: 100%;
  display: flex;
  margin: auto;
  max-width: 600px;
  width: 100%;
  flex-direction: column;
}

.form div {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}

/* .form h1{
  height: 30%;
} */

.form div input {
  width: 100%;
  margin: auto;
  border-left: none;
  font-size: clamp(1.5rem, 1.1vw, 2rem);
  border-right: none;
  border-top: none;
  padding-block: 0.4rem;
  border-bottom: 1px solid black;
}

.form div input:focus {
  outline: none;
  border-bottom: 3px solid black;
}

.form div button {
  font-size: large;
  transition: 0.5s ease-out;
  width: 100%;
  margin-inline-start: 5px;
  color: white;
  background-color: black;
  padding-block: 0.5rem;
}

.form div button:hover {
  background-color: #32a6ff;
  transform: translate(0px, -2px);
  color: white;
}

.form div label {
  font-weight: bold;
  font-size: clamp(1.5rem, 1.1vw, 2rem);
  color: black;
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 420px) {
  .form div label {
    font-size: 15px;
  }

  .img {
    width: 20%;
  }

  .form div input {
    padding-block: 0.2em;
  }

  .error {
    font-size: 13px;
  }

  .form div button {
    width: 100%;
    margin: auto;
  }
}
