.register_page {
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(45deg, #32a6ff 0%, #3f6fff 49%, #8d54ff 82%);
  background-size: 200%;
}



.input{
  outline: 1px solid black;
  
}

.error {
  color: red;
}

.logo img {
  width: 70px;
  height: 100px;
  align-self: center;
}

.logo h1 {
  padding-block-start: 2rem;
  text-align: center;
}

.dp{
  width: 100%;
  max-width: 300px;
  margin: auto;
}
.img {
  width: 60%;

  border-right: 4px solid black;
  object-fit: fill;
  height: 60%;
  height: 100%;
  object-fit: cover;
}



.form_details {
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.form_div {

  outline: 6px solid black;
  display: flex;
  
  height: 90%;
  width: 90%;
  max-width: 1900px;
  margin: auto;
  align-self: center;
  background-color: white;

  transition: all 0.4s;
}

.form_header{
  font-size: clamp(1.4rem, 1.1vw, 2.0rem);
}

.form {
  font-size: 1.5rem;

  height: 100%;
  display: flex;
  margin: auto;
  max-width: 600px;
  width: 100%;

  flex-direction: column;

}



.form div {

  width: 90%;
  margin: auto;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}


.form div select {
  background-color: transparent;
  width: 70%;
  border-left: none;
  font-size: 1.5rem;
  border-right: none;
  border-top: none;
  padding-block: 0.4rem;
  border-bottom: 3px solid black;
}

.form div input{
  width: 70%;
  height: 5%;
  background-color: transparent;
  border: none;
  padding-block: 0.4rem;

}

.submission{
  align-items: center;
}

.form div input:focus {
  outline: none;
  border-bottom: 3px solid black;
}

.form div button {
  font-size: clamp(1rem, 1.1vw, 2rem);
  transition: 0.5s ease-out;
  width: 80%;

  color: white;
  background-color: black;
  padding-block: 0.5rem;
}

.form div button:hover {
  background-color: #32a6ff;
  transform: translate(0px, -2px);
  color: white;
}

.form div label {
  font-size: clamp(1.5rem, 1.1vw, 2rem);
  padding-block-end: 2rem;
  padding-block-start: 1rem;
  width: 70%;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 420px) {
  .form div label {
    font-size: 15px;
  }

  .form div input {
    padding-block: 0.2em;
  }

  .error {
    font-size: 13px;
  }

  .form div button {
    width: 100%;
    margin: auto;
  }
}
