.loginpage {
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: gray;
}

.error {
  margin: auto;
  color: red;
}

.img {
  width: 60%;
  height: 60%;
  height: 100%;
  object-fit: cover;
  filter: hue-rotate(180deg);
}

.form_details{
  outline: 3px solid green;
  height: 70%;
}

.form_div {
  border: 10px solid yellow;
  display: flex;
  height: 90%;
  justify-content: space-between;
  margin: auto;
  align-self: center;
  background-color: white;
  border: 2px solid black;
  transition: all 0.4s;
}

.form {
  height: 100%;
  border: 1px solid red;
  display: flex;
  max-width: 500px;
  width: 100%;

  flex-direction: column;
  justify-content: space-evenly;
}



.form div {
  border: 1px solid blue;
  width: 90%;
  margin:auto ;
  display: flex;
  flex-flow: column wrap;
}

